div.logo > a:hover, div.logo > a:focus {
    text-decoration: none;
}

div.page-logo > a:hover, div.page-logo > a:focus {
    text-decoration: none;
}

.modal-dialog {
    margin-top: 60px;
}

.margin-right-10 {
    margin-right: 10px;
}

.table-scrollable.fit-to-portlet {
    max-height: calc(100vh - 365px);
    overflow-y: auto;
}
