@model Tuple<JPRSC.HRIS.Features.Payroll.PayslipReport.QueryResult, List<JPRSC.HRIS.Features.Payroll.PayslipReport.QueryResult.PayslipRecord>>

@for (var i = 0; i < Model.Item2.Count; i++)
{
    var payslipRecord = Model.Item2[i];
    @Html.Partial("PayslipReportTableIndividual", Tuple.Create(Model.Item1, payslipRecord))

    if (i == Model.Item2.Count - 1 && Model.Item2.Count % 2 == 1)
    {
        <div class="visible-print-block" style="height: 480px;">&nbsp;</div>
    }
}