@model JPRSC.HRIS.WebApp.Features.DailyTimeRecords.Index.QueryResult

@{
    ViewBag.Title = "Daily Time Records";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Daily Time Records</li>
            </ul>
        </div>
        <h1 class="page-title">
            Daily Time Records
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="DailyTimeRecordIndexCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                <div class="note note-info" ng-show="!vm.searchModel.client.value || !vm.searchModel.client.value.length">
                    <p>Please select a client.</p>
                </div>
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Client</label>
                                    <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.code for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Payroll Period</label>
                                    <select class="form-control" ng-model="vm.dailyTimeRecordPayrollPeriodBasis" ng-disabled="vm.payrollPeriodSelectionDisabled" ng-options="payrollPeriod.text for payrollPeriod in vm.payrollPeriods track by payrollPeriod.value" ng-change="vm.payrollPeriodChanged()"></select>
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Search Employees</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                        <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-disabled="!vm.searchModel.client.id" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                                </div>
                            </div>
                        </div>*@
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="!vm.searchModel.client.id || vm.searchInProgress" ng-click="vm.addDailyTimeRecordClicked()">Add Daily Time Record</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!vm.searchModel.client.id || vm.searchInProgress" ng-click="vm.bulkUploadDTRClicked()">DTR Bulk Upload</button>
                            <button type="button" class="btn btn-primary" ng-disabled="!vm.searchModel.client.id || vm.searchInProgress" ng-click="vm.bulkUploadEDRClicked()">E/D Bulk Upload</button>
                        </div>
                    </div>
                </div>
                <div class="note note-info" ng-show="vm.searchModel.client.id > 0 && !vm.employees.length">
                    <p>No daily time records found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.searchModel.client.id > 0 && vm.employees.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-dollar font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Daily Time Records</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee Code</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Payroll Period From</th>
                                        <th>Payroll Period To</th>
                                        <th>Days Worked</th>
                                        <th>Hours Worked</th>
                                        <th>Minutes Late</th>
                                        <th>Total Minutes Undertime / Days Absent</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dailyTimeRecord in vm.dailyTimeRecords track by dailyTimeRecord.id">
                                        <td>{{dailyTimeRecord.employee.employeeCode}}</td>
                                        <td>{{dailyTimeRecord.employee.firstName}}</td>
                                        <td>{{dailyTimeRecord.employee.lastName}}</td>
                                        <td>{{dailyTimeRecord.payrollPeriodFrom | date: 'mediumDate'}}</td>
                                        <td>{{dailyTimeRecord.payrollPeriodTo | date: 'mediumDate'}}</td>
                                        <td>
                                            <span ng-if="dailyTimeRecord.daysWorked">{{dailyTimeRecord.daysWorked}} days * {{vm.currencySymbol}}{{dailyTimeRecord.dailyRate | number:2}}/day = <strong>{{vm.currencySymbol}}{{dailyTimeRecord.daysWorkedValue | number:2}}</strong></span>
                                        </td>
                                        <td>
                                            <span ng-if="dailyTimeRecord.hoursWorked">{{dailyTimeRecord.hoursWorked}} hours * {{vm.currencySymbol}}{{dailyTimeRecord.hourlyRate | number:2}}/hr = <strong>{{vm.currencySymbol}}{{dailyTimeRecord.hoursWorkedValue | number:2}}</strong></span>
                                        </td>
                                        <td>
                                            <span ng-if="dailyTimeRecord.minutesLate">{{dailyTimeRecord.minutesLate | number:0}} minutes * {{vm.currencySymbol}}{{dailyTimeRecord.hourlyRate | number:2}}/hr = (<strong>{{vm.currencySymbol}}{{dailyTimeRecord.hoursLateValue | number:2}}</strong>)</span>
                                        </td>
                                        <td>
                                            <span ng-if="dailyTimeRecord.minutesUndertime">{{dailyTimeRecord.minutesUndertime | number:0}} minutes * {{vm.currencySymbol}}{{dailyTimeRecord.hourlyRate | number:2}}/hr = (<strong>{{vm.currencySymbol}}{{dailyTimeRecord.hoursUndertimeValue | number:2}}</strong>)</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="addDailyTimeRecordModal.html">
                <form class="form-horizontal" role="form" method="post" id="addDailyTimeRecordForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Daily Time Record for {{vm.client.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-2 control-label">Employee</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="hidden" name="EmployeeId" value="{{vm.employee.id}}" />
                                    <select class="form-control" ng-model="vm.employee" ng-options="employee.name for employee in vm.employees track by employee.id"></select>
                                    <span ng-show="vm.validationErrors.employeeId" class="help-block">{{vm.validationErrors.employeeId.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                    <input type="hidden" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span ng-show="vm.validationErrors.payrollPeriodFrom" class="help-block">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                    <input type="hidden" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span ng-show="vm.validationErrors.payrollPeriodTo" class="help-block">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.daysWorked }">
                                        <label class="col-md-8 col-lg-9 control-label">No. of Days</label>
                                        <div class="col-md-4 col-lg-3">
                                            <input type="text" class="form-control" name="DaysWorked" ng-model="vm.daysWorked" />
                                            <span ng-show="vm.validationErrors.daysWorked" class="help-block">{{vm.validationErrors.daysWorked.join(' ')}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.hoursWorked }">
                                        <label class="col-md-8 col-lg-9 control-label">No. of Hours</label>
                                        <div class="col-md-4 col-lg-3">
                                            <input type="text" class="form-control" name="HoursWorked" ng-model="vm.hoursWorked" />
                                            <span ng-show="vm.validationErrors.hoursWorked" class="help-block">{{vm.validationErrors.hoursWorked.join(' ')}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.minutesLate }">
                                        <label class="col-md-8 col-lg-9 control-label">Total Minutes Late</label>
                                        <div class="col-md-4 col-lg-3">
                                            <input type="text" class="form-control" name="MinutesLate" ng-model="vm.minutesLate" />
                                            <span ng-show="vm.validationErrors.minutesLate" class="help-block">{{vm.validationErrors.minutesLate.join(' ')}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.minutesUndertime }">
                                        <label class="col-md-8 col-lg-9 control-label">Total Minutes Undertime / Days Absent</label>
                                        <div class="col-md-4 col-lg-3">
                                            <input type="text" class="form-control" name="MinutesUnderTime" ng-model="vm.minutesUndertime" />
                                            <span ng-show="vm.validationErrors.minutesUndertime" class="help-block">{{vm.validationErrors.minutesUndertime.join(' ')}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-4 col-lg-3 control-label">Amount:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="hidden" value="{{vm.daysWorkedValue}}" />
                                            <p class="form-control-static">{{vm.currencySymbol}}{{vm.daysWorkedValue | number:2}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-lg-3 control-label">Amount:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="hidden" value="{{vm.hoursWorkedValue}}" />
                                            <p class="form-control-static">{{vm.currencySymbol}}{{vm.hoursWorkedValue | number:2}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-lg-3 control-label">Amount:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="hidden" value="{{vm.hoursLateValue}}" />
                                            <p class="form-control-static">{{vm.currencySymbol}}{{vm.hoursLateValue | number:2}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 col-lg-3 control-label">Amount:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="hidden" value="{{vm.hoursUndertimeValue}}" />
                                            <p class="form-control-static">{{vm.currencySymbol}}{{vm.hoursUndertimeValue | number:2}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h4>Overtimes</h4>
                                    <div ng-show="!vm.overtimes.length">No overtimes.</div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="vm.overtimes.length">
                                <div class="col-sm-12">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>OT Code</th>
                                                    <th>Number <br />of Hours</th>
                                                    <th>Amount</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="overtime in vm.overtimes track by $index">
                                                    <td style="min-width: 140px;">
                                                        <input type="hidden" name="{{vm.getOvertimeFieldName($index, 'PayPercentageId')}}" value="{{overtime.payRate.id}}" />
                                                        <input type="hidden" name="{{vm.getOvertimeFieldName($index, 'PayPercentageName')}}" value="{{overtime.payRate.name}}" />
                                                        <input type="hidden" name="{{vm.getOvertimeFieldName($index, 'PayPercentagePercentage')}}" value="{{overtime.payRate.percentage}}" />
                                                        <select class="form-control" ng-model="overtime.payRate" ng-options="payRate.name for payRate in vm.payRates track by payRate.name" ng-change="vm.otRateChanged(overtime)">
                                                            <option value="?" selected="selected">Select pay rate</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="overtime.numberOfHours" ng-change="vm.numberOfHoursChanged(overtime)" name="{{vm.getOvertimeFieldName($index, 'NumberOfHours')}}" />
                                                    </td>
                                                    <td>
                                                        <input type="hidden" name="{{vm.getOvertimeFieldName($index, 'NumberOfHoursValue')}}" value="{{overtime.numberOfHoursValue}}" />
                                                        <p class="form-control-static">{{vm.currencySymbol}}{{overtime.numberOfHoursValue | number:2}}</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="{{vm.getOvertimeFieldName($index, 'Reference')}}" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="" class="btn btn-primary" ng-click="vm.addOvertimeClicked()">Add Overtime</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h4>Earning and Deduction Records</h4>
                                    <div ng-show="!vm.earningDeductionRecords.length">No earning / deduction records.</div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="vm.earningDeductionRecords.length">
                                <div class="col-sm-12">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Earning Deduction</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="earningDeductionRecord in vm.earningDeductionRecords track by $index">
                                                    <td>
                                                        <input type="hidden" name="{{vm.getEarningDeductionRecordFieldName($index, 'EarningDeductionId')}}" value="{{earningDeductionRecord.earningDeduction.id}}" />
                                                        <select class="form-control" ng-model="earningDeductionRecord.earningDeduction" ng-options="earningDeduction.code for earningDeduction in vm.earningDeductions track by earningDeduction.id"></select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="{{vm.getEarningDeductionRecordFieldName($index, 'Amount')}}" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="" class="btn btn-primary" ng-click="vm.addEarningDeductionRecordClicked()">Add Earning / Deduction Record</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.addInProgress"></i>
                        <button type="button" class="btn green" ng-click="vm.addDailyTimeRecordAndAddAnother()" ng-disabled="vm.currentEmployeeIndex >= vm.employees.length - 1 || vm.addInProgress">Save and Add Next</button>
                        <button type="button" class="btn green" ng-click="vm.addDailyTimeRecordAndExit()" ng-disabled="vm.addInProgress">Save and Exit</button>
                        <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.addInProgress">Exit</a>
                    </div>
                </form>
            </script>

            <script type="text/ng-template" id="bulkUploadDTRModal.html">
                <form class="form-horizontal" role="form" method="post" id="bulkUploadForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h3 class="modal-title">DTR Bulk Upload for {{vm.client.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="vm.unprocessedItems.length">
                            <p style="margin-bottom: 10px;">Error encountered on the following employees:</p>
                            <ul style="margin-bottom: 10px;">
                                <li ng-repeat="unprocessedItem in vm.unprocessedItems">
                                    {{unprocessedItem.lastName}}, {{unprocessedItem.firstName}}: {{unprocessedItem.reason}}
                                </li>
                            </ul>
                            <p>The entire operation has been aborted. Please make the necessary changes and try again.</p>
                        </div>
                        <div class="form-body">
                            <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodFrom }">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                    <input type="hidden" id="PayrollPeriodFrom" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span class="help-block" ng-show="vm.validationErrors.payrollPeriodFrom">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodTo }">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                    <input type="hidden" id="PayrollPeriodTo" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span class="help-block" ng-show="vm.validationErrors.payrollPeriodTo">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.file }">
                                <label class="col-md-3 col-lg-2 control-label">CSV File</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="file" name="File" id="File" />
                                    <span class="help-block" ng-show="vm.validationErrors.file">{{vm.validationErrors.file.join(' ')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.uploadInProgress"></i>
                        <input type="submit" class="btn green" ng-disabled="vm.uploadInProgress" value="Upload" />
                        <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.uploadInProgress">Exit</a>
                    </div>
                </form>
            </script>

            <script type="text/ng-template" id="bulkUploadEDRModal.html">
                <form class="form-horizontal" role="form" method="post" id="bulkUploadForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h3 class="modal-title">E/D Bulk Upload for {{vm.client.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="vm.unprocessedItems.length">
                            <p style="margin-bottom: 10px;">Error encountered on the following employees:</p>
                            <ul style="margin-bottom: 10px;">
                                <li ng-repeat="unprocessedItem in vm.unprocessedItems">
                                    {{unprocessedItem.lastName}}, {{unprocessedItem.firstName}}: {{unprocessedItem.reason}}
                                </li>
                            </ul>
                            <p>The entire operation has been aborted. Please make the necessary changes and try again.</p>
                        </div>
                        <div class="form-body">
                            <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodFrom }">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                    <input type="hidden" id="PayrollPeriodFrom" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span class="help-block" ng-show="vm.validationErrors.payrollPeriodFrom">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodTo }">
                                <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                    <input type="hidden" id="PayrollPeriodTo" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span class="help-block" ng-show="vm.validationErrors.payrollPeriodTo">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.file }">
                                <label class="col-md-3 col-lg-2 control-label">CSV File</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="file" name="File" id="File" />
                                    <span class="help-block" ng-show="vm.validationErrors.file">{{vm.validationErrors.file.join(' ')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.uploadInProgress"></i>
                        <input type="submit" class="btn green" ng-disabled="vm.uploadInProgress" value="Upload" />
                        <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.uploadInProgress">Exit</a>
                    </div>
                </form>
            </script>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/dailyTimeRecords")
}