@model JPRSC.HRIS.WebApp.Features.Loans.Index.QueryResult

@{
    ViewBag.Title = "Loans";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Loans</li>
            </ul>
        </div>
        <h1 class="page-title">
            Loans
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="LoanIndexCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Client</label>
                                    <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.name for client in vm.clients track by client.id"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Search Loans by Employee Code or Loan Type</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                            <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Filter Loans by Loan End Date</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                            <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.searchModel.loanEndDate"
                                               uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.searchModel.loanEndDateIsOpen" ng-click="vm.searchModel.loanEndDateIsOpen = true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="vm.searchInProgress" ng-click="vm.addLoanClicked()">Add Loan</button>
                        </div>
                    </div>
                </div>
                <div class="note note-info" ng-show="!vm.loans.length">
                    <p>No loans found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.loans.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-sun-o font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Loans</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <td>Employee Code</td>
                                        <td>Loan Type</td>
                                        <td>Loan Date</td>
                                        <td>Principal Amount</td>
                                        <td>Months Payable</td>
                                        <td>Interest Rate</td>
                                        <td>Interest Amount</td>
                                        <td>Deduction Amount</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="loan in vm.loans track by loan.id">
                                        <td>{{loan.employee.firstName}}</td>
                                        <td>{{loan.employee.lastName}}</td>
                                        <td>{{loan.employee.employeeCode}}</td>
                                        <td>{{loan.loanType.code}}</td>
                                        <td>{{loan.loanDate | date:'mediumDate' }}</td>
                                        <td>{{vm.currencySymbol}}{{loan.principalAmount | number:2 }}</td>
                                        <td>{{loan.monthsPayable}}</td>
                                        <td>{{loan.interestRate | number:2 }}%</td>
                                        <td>{{vm.currencySymbol}}{{vm.getInterestAmount(loan) | number:2 }}</td>
                                        <td>{{vm.currencySymbol}}{{loan.deductionAmount | number:2 }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="addLoanModal.html">
                <form class="form-horizontal" role="form" method="post" ng-submit="vm.addLoanSubmit($event)">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Loan</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Client</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                                    <select class="form-control" ng-model="vm.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                    <span ng-show="vm.validationErrors.clientId" class="help-block">{{vm.validationErrors.clientId.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.transactionNumber }">
                                <label class="col-md-4 col-lg-3 control-label">Transaction Number</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="TransactionNumber" ng-model="vm.transactionNumber" />
                                    <span ng-show="vm.validationErrors.transactionNumber" class="help-block">{{vm.validationErrors.transactionNumber.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.employeeId }">
                                <label class="col-md-4 col-lg-3 control-label">Employee <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i></label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="hidden" name="EmployeeId" value="{{vm.employee.id}}" />
                                    <select class="form-control" ng-model="vm.employee" ng-options="employee.name for employee in vm.employees track by employee.id">
                                        <option value="?" selected="selected">Select employee</option>
                                    </select>
                                    <span ng-show="vm.validationErrors.employeeId" class="help-block">{{vm.validationErrors.employeeId.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.loanDate }">
                                <label class="col-md-4 col-lg-3 control-label">Loan Date</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" ng-model="vm.loanDate"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.loanDateIsOpen" ng-click="vm.loanDateIsOpen = true">
                                    <input type="hidden" name="LoanDate" value="{{vm.loanDate | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span ng-show="vm.validationErrors.loanDate" class="help-block">{{vm.validationErrors.loanDate.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.loanTypeId }">
                                <label class="col-md-4 col-lg-3 control-label">Loan Type</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-control" name="LoanTypeId" ng-model="vm.loanTypeId" ng-options="loanType.text for loanType in vm.loanTypesList track by loanType.value">
                                        <option value="?" selected="selected">Select loan type</option>
                                    </select>
                                    <span ng-show="vm.validationErrors.loanTypeId" class="help-block">{{vm.validationErrors.loanTypeId.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.principalAmount }">
                                <label class="col-md-4 col-lg-3 control-label">Principal Amount</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="PrincipalAmount" ng-model="vm.principalAmount" />
                                    <span ng-show="vm.validationErrors.principalAmount" class="help-block">{{vm.validationErrors.principalAmount.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.remainingBalance }">
                                <label class="col-md-4 col-lg-3 control-label">Remaining Balance</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="RemainingBalance" ng-model="vm.remainingBalance" />
                                    <span ng-show="vm.validationErrors.remainingBalance" class="help-block">{{vm.validationErrors.remainingBalance.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriod }">
                                <label class="col-md-4 col-lg-3 control-label">Payroll Period</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-control" name="PayrollPeriod" ng-model="vm.payrollPeriod" ng-options="payrollPeriod for payrollPeriod in vm.payrollPeriods track by payrollPeriod">
                                        <option value="?" selected="selected">Select payroll period</option>
                                    </select>
                                    <span ng-show="vm.validationErrors.payrollPeriod" class="help-block">{{vm.validationErrors.payrollPeriod.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.monthsPayable }">
                                <label class="col-md-4 col-lg-3 control-label">Months Payable</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="MonthsPayable" ng-model="vm.monthsPayable" />
                                    <span ng-show="vm.validationErrors.monthsPayable" class="help-block">{{vm.validationErrors.monthsPayable.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.interestRate }">
                                <label class="col-md-4 col-lg-3 control-label">Interest Rate</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="InterestRate" ng-model="vm.interestRate" />
                                    <span ng-show="vm.validationErrors.interestRate" class="help-block">{{vm.validationErrors.interestRate.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Interest Amount</label>
                                <div class="col-md-8 col-lg-9">
                                    <p class="form-control-static">{{vm.currencySymbol}}{{vm.getInterestAmount() | number:2 }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Deduction Amount</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="DeductionAmount" ng-model="vm.deductionAmount" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn green">Add</button>
                        <a href="" class="btn btn-default" ng-click="vm.cancel()">Cancel</a>
                    </div>
                </form>
            </script>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/loans")
}