@{
    ViewBag.Title = "Overtime Rates";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Overtime Rates</li>
            </ul>
        </div>
        <h1 class="page-title">
            Overtime Rates
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="PayPercentageIndexCtrl as vm">
            <div class="col-sm-12">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                    <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="note note-info" ng-show="!vm.payPercentages.length">
                    <p>No overtime rates found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.payPercentages.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-percent font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Overtime Rates</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Percentage</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payPercentage in vm.payPercentages track by payPercentage.id">
                                        <td>
                                            <span ng-show="!payPercentage.isEditing">{{payPercentage.code}}</span>
                                            <input ng-show="payPercentage.isEditing" class="form-control input-sm" ng-model="payPercentage.copy.code" />
                                        </td>
                                        <td>
                                            <span ng-show="!payPercentage.isEditing">{{payPercentage.name}}</span>
                                            <input ng-show="payPercentage.isEditing" class="form-control input-sm" ng-model="payPercentage.copy.name" />
                                        </td>
                                        <td>
                                            <span ng-show="!payPercentage.isEditing">{{payPercentage.percentage}}</span>
                                            <input ng-show="payPercentage.isEditing" class="form-control input-sm" ng-model="payPercentage.copy.percentage" />
                                        </td>
                                        <td>
                                            <a ng-show="!payPercentage.isEditing" href="" class="btn btn-primary btn-sm" ng-click="vm.editPayPercentageClicked(payPercentage)">Edit</a>
                                            <a ng-show="payPercentage.isEditing" href="" class="btn btn-default btn-sm" ng-click="vm.cancelEditPayPercentageClicked(payPercentage)">Cancel</a>
                                            <a ng-show="payPercentage.isEditing" href="" class="btn btn-primary btn-sm" ng-click="vm.saveEditPayPercentageClicked(payPercentage)">Save</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/payPercentages")
}