@{
    ViewBag.Title = "Audit Trail Logs";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Audit Trail Logs</li>
            </ul>
        </div>
        <h1 class="page-title">
            Audit Trail Logs
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="AuditTrailIndexCtrl as vm">
            <div class="col-sm-12">
                @*<form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                    <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                            </div>
                        </div>
                    </div>
                </form>*@
                <div class="note note-info" ng-show="!vm.auditTrails.length">
                    <p>No audit trail logs found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.auditTrails.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-list font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Audit Trail Logs</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>UserName</th>
                                        <th>Module</th>
                                        <th>Action</th>
                                        <th>Record Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="auditTrail in vm.auditTrails track by auditTrail.id">
                                        <td>{{auditTrail.addedOn | date:'short'}}</td>
                                        <td>{{auditTrail.userName}}</td>
                                        <td>{{auditTrail.module}}</td>
                                        <td>{{auditTrail.action}}</td>
                                        <td>{{auditTrail.recordId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous" ng-class="{ 'disabled': vm.totalResultsCount == 0 || vm.searchInProgress || vm.searchModel.pageNumber == 1 }"><a ng-click="vm.previousClicked()" ng-disabled="vm.totalResultsCount == 0 || vm.searchInProgress || vm.searchModel.pageNumber == 1"><span aria-hidden="true">&larr;</span> Newer</a></li>
                                <li class="next" ng-class="{ 'disabled': vm.totalResultsCount == 0 || vm.searchInProgress || vm.totalResultsCount - (vm.searchModel.pageSize * vm.searchModel.pageNumber) <= vm.searchModel.pageSize }"><a ng-click="vm.nextClicked()" ng-disabled="vm.totalResultsCount == 0 || vm.searchInProgress || vm.totalResultsCount - (vm.searchModel.pageSize * vm.searchModel.pageNumber) <= vm.searchModel.pageSize">Older <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/auditTrails")
}