<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        @DateTime.Now.Year &copy; @AppSettings.String("ApplicationName")
    </div>
    <div class="scroll-to-top">
        <i class="fa fa-chevron-up"></i>
    </div>
</div>
<!-- END FOOTER -->